body{
    background-color: rgb(120, 168, 120);
}
.i h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.i img{
margin: 120px;
width: 40%;
height: 300px;
}
.w img{
margin: 120px;
width: 40%;
height: 300px;
}
.i h1{
    text-align: center;
}
#logo{ font-size: 120px;
   text-align: center;
}
.a a{
    text-align: left;
    border: 2px solid rgb(40, 70, 42); 
    border-radius: 5px;
    padding: 10px;
}
a:hover{
    color: black;
    background-color: rgb(75, 99, 75);
    transition: 2s;
}
